<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
  <param name="robot1/robot_description" textfile="$(find robotti_1)/urdf/robotti_1.urdf" />
  <rosparam file="$(find robotti_1)/config/robot1_controller.yaml" command="load"/>
  
  <node
    name="tf_footprint_base_r1"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model_robo1"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find robotti_1)/urdf/robotti_1.urdf -urdf -robot_namespace /robot1 -model robotti_1 -x 2.0 -y 1.5 -z 0.85"
    output="screen" />

  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />


    <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/robot1" args="wheel_l_velocity_controller wheel_r_velocity_controller weapon_velocity_controller joint_state_controller"/>

  <node pkg="rostopic" type="rostopic" name="robo1_weapon_activation" args="pub /robot1/weapon_velocity_controller/command std_msgs/Float64 'data: 100.0'"/>

</launch>
