<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find samk_robowar_world)/world/arena_no_pit.world"/>
    <arg name="gui" value="true" />
    <arg name="paused" value="false" />
    <arg name="verbose" value="true" />
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find robotti_5)/launch/spawn_robo5.launch">
  </include>
  <include file="$(find robotti_1)/launch/spawn_robo1.launch">
  </include>
</launch>
